.logo-wrapper {
    max-width: 320px;
    max-height: 97px;
}

.form-wrapper.MuiPaper-root {
    height: 650px;
    width: 450px;
    border-radius: 16px;
    padding-top: 10px;
}

.slogan.MuiTypography-root {
    font-family: Urbanist;
    color: #0996C7;
    font-size: 24px;
    line-height: 24px;
    font-weight: medium;
    text-align: left;
}